[Unit]
Description=Card Game Backend
After=network.target

[Service]
User=ec2-user
Environment=ENVIRONMENT=PROD
Environment=AWS_ADDRESS=http://ec2-44-196-116-170.compute-1.amazonaws.com
Environment=REDIS_ADDRESS=redis-one.uzmwbi.0001.use1.cache.amazonaws.com
WorkingDirectory=/home/ec2-user/card-game/server
ExecStart=/home/ec2-user/server/card-game-env/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target

# journalctl -u flask-server
# sudo systemctl daemon-reload
# sudo systemctl start flask-server.service