/* @media (max-width: 1024px) {
  .container {
    max-width: 100%;
    background-color: yellow;
  }
} */

p {
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.scorecard-player-score {
  font-size: large;
}

.energy-cell {
    height: 30px;
    width: 30px;
    border: solid 1px rgb(80, 80, 80);
    border-radius: 9px;
}

.active {
  background-color: rgb(81, 155, 155);
}
.inactive {
  background-color: rgb(231, 237, 237);
}