{% extends "base.html" %}
{% block content %}
    <h1>Form Page</h1>
    <script src="{{ url_for('static', filename='scripts/form_submit.js') }}"></script>
    <form action="{{ url_for('form') }}" id='form' method="post">
        <label for="name">Type your name</label>
        <input type="text" name="name" id="name" placeholder="Ex: John">
        <input type="submit" value="Submit">
        <div id="output-box"></div>
    </form>
<br>

{% if context.name %}
    Hello {{ context.name }}!
{% endif %}

{% endblock content %}