{% extends "base.html" %}
{% block content %}
<h1>Home Page</h1>

<p>Type a room number to begin chatting</p>

<form action="{{ url_for('home') }}" id='form' method="post">
  <label for="roomTextBox">Room Number: </label>
  <input type="text" name="room">
  <button id="roomButton">Submit</button>
</form>

<table>
  {% for room in rooms %}
  <tr>
    <td>{{ room.key }}</td>
    <td>{{ room.members }} </td>
    <td>{{ room.size }} </td>
    <td>{{ room.peak }} </td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}